<ion-header [translucent]="true">
  <ion-toolbar color="pp">
    <ion-title>
      Component 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-card>
      <img alt="Silhouette of mountains" src="https://i.ytimg.com/vi/OOsbOJRNvgw/maxresdefault.jpg" />
      <ion-card-header>
        <ion-card-title>Card Component</ion-card-title>
        <ion-card-subtitle>วิทยาลัยเทคโนโลยีพงสวัสดิ์</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        ทยาลัยเทคโนโลยีพงษ์สวัสดิ์ เดิมคือ โรงเรียนพงษ์สวัสดิ์พณิชยการ ก่อตั้งในปี พ.ศ. 2515 โดยมีอาจารย์สมพงษ์
        ศรีสวัสดิ์ เป็นผู้ก่อตั้ง และดร.ณิชาภัทร จารุจินดา เป็นผู้รับใบอนุญาต
        ในปัจจุบันวิทยาลัยเปิดหลักสูตรการเรียนการสอนในระดับประกาศนียบัตรวิชาชีพ (ปวช.) และประกาศนียบัตรวิชาชีพชั้นสูง
        (ปวส.)
      </ion-card-content>
    </ion-card>
  </ion-item>

  <ion-item>
    <ion-label>2. Checkbox </ion-label>
    <ion-checkbox slot="end">มากด</ion-checkbox>
    <ion-checkbox slot="end">กดอันนี้ก็ได้</ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>3. Clip</ion-label>
    <ion-chip>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Avatar Chip</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
  </ion-item>

</ion-content>