<ion-header [translucent]="true">
  <ion-toolbar color="pp">
    <ion-title>
      Component
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-item>
  <ion-label>1.Action Sheets</ion-label>
  <ion-button id="open-action-sheet">Open</ion-button>
<ion-action-sheet trigger="open-action-sheet" header="Actions" [buttons]="actionSheetButtons"></ion-action-sheet>
 </ion-item>
 <ion-item>
  <ion-label>2.Alerts</ion-label>
  <ion-button id="present-alert">Click Me</ion-button>
<ion-alert
  trigger="present-alert"
  header="ต้องลบข้อมูลหรือไม่"
  [buttons]="alertButtons"></ion-alert>
 </ion-item>
 <ion-item>
  <ion-label>3.Alert Input</ion-label>
  <ion-button id="present-alert-input">กรอกข้อมูล</ion-button>
<ion-alert
  trigger="present-alert-input"
  header="กรุณากรอกข้อมูล"
  [buttons]="alertButtonsinput"
  [inputs]="alertInputs"></ion-alert>
 </ion-item>
 <ion-item>
  <ion-label>4.Badge</ion-label>
  <ion-badge>28</ion-badge>
 </ion-item>
</ion-content>
